/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 500px; }


h1 {
  text-align: center;
}

 dt {

   padding: 5px;
   text-decoration:underline;
}

dd {
	color: #2DD8FA ;
  text-indent: 20px;
  padding: 5px;
}
